---
import ContentSection from "~/components/content-section.astro";
---

<!-- <ContentSection title="Expertos en Transformación Digital" id="intro" /> -->
<div class="relative grid h-full place-items-center isolate px-6 py-14" xyz="down fade duration-15 delay-2">
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <span class="text-base sm:text-lg overflow-visible xyz-in">
        Expertos en
        <h1
          class="font-title gradient-text text-6xl font-bold tracking-tight sm:text-6xl xyz-in"
        >
          Transformación Digital
        </h1>
      </span>
      <p class="mt-6 text-m leading-8 xyz-in">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
        cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="#"
          class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-sm text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >Get started</a
        >
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
          >Learn more <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>
